*{
    padding: 0px;
    margin: 0px auto;
    box-sizing: border-box;
}
.wrapper{
    min-height: 300px;
    width: 1089px;
    background-color: aliceblue;
}
.search {
position: absolute;
right: 10px;
top: 10px;
}
.wrapper .header .img{
    display: inline-block;
    position: absolute;
    top: -180px;
    left: 30px;
}
.wrapper .header ul{
    background-color:  #3d73b1;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 0;

}
.header .top-menu li .sub-menu{
    position: absolute;
    top: 45px;
    left: 0px ;
    background-color: #3d73b1;
    display: none;
}

.header .top-menu li .sub-menu li{
    list-style: none;
    width: 200px;
    /* border-radius: 10px; */
    background-color: #3d73b1;
}
.header .top-menu li .sub-menu li:hover{
    border-radius: 10px;
    background-color: bisque;

}



.wrapper .header li:hover>.sub-menu{
    display: block;
}
.wrapper .header{
    width: 100%;
    height: 150px;
    background-color: #294e7a;
    position: relative;
}
.wrapper .header .top-menu>li{

    display: inline-table;
    list-style: none;
    height: 45px;
    width: 150px;
    line-height: 45px;
    text-indent: 20px;
    border-radius: 10px;
    position: relative;
    
}
.wrapper .header li>a{
    text-decoration: none;
    display: block;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.wrapper .header li:hover{
    background-color: bisque;
}
.wrapper .header li:hover>a{
    color: chocolate;

}

.content aside{
    width: 60%;
    height: 400px;
    float: left;
    /* position: relative; */
    
}
aside .content-header {
    /* position: absolute; */
    width: 100%;
    height: 100px;
  
    
}
aside .content-header h3{
    height: 50px;
    margin-top: 40px;
    margin-left: 20px;
    color: #d8c7ae;
}
.content aside h3{
    font-size: 20px;
}
.content aside p{
    color: red;

}
.content aside .form .form-child{
    width: 50%;
    float: left;
    margin: 10px 0;
    
}
aside .content-header .aside-child1{
    width: 60%;
    height: 100%;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
aside .content-header .aside-child1 p{
    text-shadow: 5px 5px 5px red;
}
aside .content-header .aside-child2{
    width: 40%;
    height: 100%;
    float: left;
}

aside .content-header .aside-child2 p{
    font-size: 15px;
    margin-left: 20px;
    font-family:Arial, Helvetica, sans-serif;
    
}
.content section{
    width: 40%;
    height: 400px;
    float: left;
}
section .content-header h3{
    height: 50px;
    margin-top: 50px;
    margin-left: 20px;
    color: #d8c7ae;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
section .content-header img{
    border: 2px solid rgba(#000, 0.5);
}
section .content-header{
    padding: 10px;
}
footer{
    height: 50px;
    width: 100%;
    background-color: purple;
    position: relative;
    margin-top: 550px;
    
}
footer p{
    line-height: 50px;
    margin-left: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
